@page
@model AlchemyPages.Pages.Ingredients.IndexModel
@{
}

<h2 class="text-center mb-3">Ingredients</h2>
<a class="btn btn-primary" asp-page="/Ingredients/Create">New Ingredient</a> 

<div style="overflow-x:auto;">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Element</th>
                <th>Description</th>
                <th>Quality I</th>
                <th>Quality II</th>
                <th>Quality III</th>
                <th>Image</th>
                <th style= "width:120px;">Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach(var ingredient in Model.ingredientList){
                <tr>
                    <td>@ingredient.Name</td>
                    <td>@ingredient.Type</td>
                    <td>@ingredient.Element</td>
                    <td>@ingredient.Description</td>
                    <td>@ingredient.qualityOne</td>
                    <td>@ingredient.qualityTwo</td>
                    <td>@ingredient.qualityThree</td>
                    <td>@if (!string.IsNullOrEmpty(ingredient.imageFileLocation))
                        {
                             <img src="@ingredient.imageFileLocation" style="max-width: 100px; height:auto;" alt="Ingredient Image"/> 
                        }
                        else
                        {
                            <span> No Image </span>    
                        }

                    </td>
                    <td style=" white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-page="/Ingredients/Edit" asp-route-id="@ingredient.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-page="/Ingredients/Delete" asp-route-id="@ingredient.Id">Delete</a>
                     </td>
            </tr>
        }
    </tbody>

</table>
</div>