@page
@model AlchemyPages.Pages.Players.IndexModel
@{
}
<h2 class="text-center mb-2">Players</h2>
<a class="btn btn-primary" asp-page="/Players/CreatePlayer">New Player</a>

<div style="overflow-x:auto;">
    <table class="table">
        <thead>
            <tr>
                <th>Player Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th style="width:120px;">Actions</th>

            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var player in Model.playerList) @* check to see if this is correct, may need to be direct - 7/5/25 it is correct  *@
            {
                <tr>
                    <td>@player.PlayerID</td>
                    <td>@player.FirstName</td>
                    <td>@player.LastName</td>

                    <td style="white-space:nowrap">
                    <a class=" btn btn-primary btn-sm" asp-page="/Players/EditPlayer" asp-route-PlayerID="@player.PlayerID"> Edit </a>   
                    <a class=" btn btn-danger btn-sm" asp-page="/Players/DeletePlayer" asp-route-PlayerID="@player.PlayerID"> Delete </a> 
                    <a class="btn btn-sm" style="background-color: green; color: white;" asp-page="/Players/PlayerView" asp-route-PlayerID="@player.PlayerID">View craftbook</a> @* Chage asp page to variable for that specific player *@

                    </td>


                </tr>
            }
            

        </tbody>
    </table>

</div>


